body{
	margin: auto;
	max-width: 100%;
	font-family:'Raleway';
	background-color: #fff8dc; 
}

#menu{
	position: relative;
	z-index: 10000;
	width: 100%;
}

#menu ul{
	position         : fixed; 
	padding          : 0px;
	margin           : 0px;
	left             : 0px; 
	right            : 0px; 
	top              : 0px;
	background-color : #002776; 
	list-style       : none;
	font-size        : 16pt; 
	font-family      : 'Raleway';
}
#menu ul li { display : inline; }

#menu ul li a{
	padding          : 5px 10px; 
	display          : inline-block; 
	color            : white;
	text-decoration  : none; 
}
#menu .menu{
	text-align       : center;
	position         : fixed;
	top              : 80px; 
	background-color : #009c3b; 
	list-style       : none; 
	box-shadow       : 0px 5px 10px rgba(0, 0, 0, 0.4); 
}
#menu .menu li a{
	padding          : 5px 10px;
	padding-bottom   : 3px; 
	display          : inline-block; 
	color            : white;
	text-decoration  : none;
	border-bottom    : 3px solid #009c3b;    
}
#menu .menu li #abas{
	border-top       : 2px solid #009c3b;
	margin-right     : 10px;
	margin-left      : 10px;  
	cursor           : pointer; 
}
#menu .menu li a:hover{
	transition-timing-function : ease-in;
	transition                 : 0.5s;
	background-color           : rgba(0, 0, 0, 0.3); 
	border-bottom              : 3px solid white;  
	background-size            : 30px 60px; 
}
#menu .menu li #abas:hover{
	transition-timing-function : ease-in;
	transition                 : 0.5s; 
	border-top                 : 2px solid rgba(0, 0, 0, 0.1); 
	border-bottom              : 3px solid white;  
	background-size            : 30px 60px; 
}

.logo{
	height       : 85px;
	width        : 45px; 
	border-style : none;
	position     : absolute;  
	top          : 0px;
}

.logo-text{
	margin : 15px; 
	width  : 196px;
	height : 55px;  
}

.logo-text:hover{
	transition : 0.5s ease-in;
	transform  : scale(1.05);  
}

.home{
	height : 20px;
	width  : 20px; 
}
.casinha{
	float       : left; 
	padding-top : 2px; 
}

.footer{
   	position         : relative;
   	padding          : 0px;
   	margin           : 0px;  
   	left             : 0px;
   	right            : 0px;    
   	width            : 100%;
   	padding-top      : 25px;  
   	height           : 80px;
   	background-color : #2b2c33; 
   	text-align       : center;
   	font-family      : 'Raleway';
   	font-size        : 16px; 
   	color            : #FFFFFF; 
}

section#principal{
	margin: auto;
	width: 100%;
	background-color: #fff8dc;
	height: 100% - 80px;
	padding-top: 50px;
}

div#texto{
	width            : 100%;/*Mantem a proporção*/
	text-align       : justify; 
	padding-top      : 12pt;  
	padding-bottom   : 12pt; 
	/*margin:       auto;	*/
}

section#principal div#texto p.centro{
	text-align   : justify;
	margin-left  : 80px;
	margin-right : 80px; 	
}

h1{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	color: #002276;
	font-family: Candara;
}

h2{
	font-size: 30px;
	text-align: center;
	color: #002776;
	font-weight: bold;
}

h3{
	font-size: 25px;
	text-align: center;
}

p{
	text-align   : justify;
	margin-left  : 80px;
	margin-right : 80px; 
	font-size    : 25px;
}
ul, ol{
	text-align:left;
}