@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

@font-face{
  font-family: 'FlowerPower';
  src: url('../fonts/Flower Power Personal Use.ttf');
}

html{
  scroll-behavior: smooth;
}

body{
	margin: auto;
	max-width: 100%;
	font-family:'Raleway';
}

/*MENU E FOOTER*/

#menu{
	position: relative;
	z-index: 100;
	width: 100%;
}

#menu ul{
	position         : fixed; 
	padding          : 0px;
	margin           : 0px;
	left             : 0px; 
	right            : 0px; 
	top              : 0px;
	background       : rgba(0, 0, 0, 0.75); 
    box-shadow       : 0 5px 10px rgba(0, 0, 0, 0.25); 
	list-style       : none;
	font-size        : 16pt; 
	font-family      : 'Raleway'; 
}

#menu ul#barra i{
  display: none;
}

#menu.active ul#barra i{
  position: absolute;
  top: 5px;
  font-size: 24pt;
  color: #fff;
  margin: 15px;
  display: block;
  cursor: pointer;
}

#menu.active ul#barra img{
  position     : relative; 
  left         : 65px; 
  margin       : 15px; 
  width        : 142px;
  height       : 39px; 
  transition   : 0.5s;
}

#menu.active ul.menu{
  display: none;
}

#menu ul li { display : inline; }

#menu ul li a{
  padding          : 5px 10px; 
  display          : inline-block; 
  color            : white;
  text-decoration  : none; 
}

#menu .menu{
  text-align       : center;
  position         : fixed;
  top              : 80px; 
  background-color : #009c3b; 
  list-style       : none; 
  box-shadow       : 0px 5px 10px rgba(0, 0, 0, 0.4); 
  transition       : 0.5s;
}

#menu .menu li a{
  padding          : 5px 10px;
  padding-bottom   : 3px; 
  display          : inline-block; 
  color            : white;
  text-decoration  : none;
  border-bottom    : 3px solid #009c3b;    
}

#menu .menu li .abas{
  border-top       : 2px solid #009c3b;
  margin-right     : 10px;
  margin-left      : 10px;   
}

#menu .menu li a:hover{
  transition-timing-function : ease-in;
  transition                 : 0.5s;
  background-color           : rgba(0, 0, 0, 0.3); 
  border-bottom              : 3px solid white;  
  background-size            : 30px 60px;
  cursor                     : pointer;
}

#menu .menu li .abas:hover{
  transition-timing-function : ease-in;
  transition                 : 0.5s; 
  border-top                 : 2px solid rgba(0, 0, 0, 0.1); 
  border-bottom              : 3px solid white;  
  background-size            : 30px 60px; 
  cursor                     : pointer;
}

div.menu-container{
  position: fixed;
  top: 74.25px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 250px;
  border-bottom-right-radius: 5px;
  z-index: 1000;
  display: none;
  animation: slideInLeft 1s;
  overflow: hidden;
}

div.menu-container ul{
  padding: 0;
  margin: 0;
}

div.menu-container ul li{
  list-style: none;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Raleway";
  font-weight: bold;
  color: #fff;  
  border-left: 3px solid rgba(0, 0, 0, 0);
}

div.menu-container ul li:hover{
  background: rgba(0, 0, 0, 0.65);
  color: #009c3b;
  border-color: #009c3b;
}

.logo-text{
  margin : 15px; 
  width  : 196px;
  height : 55px; 
  cursor : pointer;
  transition: 0.5s;  
}

.logo-text:hover{
	transform  : scale(1.05);  
}

#btnLogin{
  position         : absolute;
  top              : 22.5px;
  right            : 25px; 
  float            : right;  
  font-family      : 'Raleway';
  font-size        : 14pt;
  color            : white;
  background-color : #1db954;
  height           : 40px;  
  width            : 100px;
  border           : none; 
  border-radius    : 5px;    
  box-shadow       : 2px 2px 5px rgba(0, 0, 0, 1);
  outline          : none;  
}

#btnLogin:hover{
  transition       : 0.5s ease-in; 
  background-color : #1ed760;
  cursor           : pointer;  
}

.footer{
    position         : relative;
    padding          : 0px;
    margin           : 0px;  
    left             : 0px;
    top              : 300px;
    right            : 0px;    
    width            : 100%;
    padding-top      : 25px;
    background-color : #009c3b; 
    text-align       : center;
    font-family      : 'Raleway';
    font-size        : 14pt; 
    color            : #FFFFFF;
}

.footer-regiao{
  position: relative;
  height: 14pt;
  left: -10px;
}

.footer-regiao img{
  position: relative;
  top: 2.95px;
  left: -5px;
  height: 20px;
  width: 20px;
  user-select: none;
}

.footer img.logotipo-footer{
  width  : 196px;
  height : 55px;
  cursor : pointer; 
}

section#principal{
  margin-top: 170px;
}

/*CONFIGURAÇÃO DAS FONTES*/

h1{
  font-family: 'Raleway';
	font-size: 42pt;
	text-align: center;
	font-weight: normal;
	color: #009c3b;
}

h2{
  font-family: 'Raleway';
	font-size: 24pt;
	text-align: center;
	color: #002776;
	font-weight: 700;
}

h3{
  font-family : 'Raleway';
  font-weight : normal;  
	font-size   : 20pt;
  color       : #2b2c33; 
	text-align  : center;
  font-weight : 700;
  font-style  : italic; 
}

p{
  font-family  : 'Raleway';
	text-align   : justify;
	margin-left  : 80px;
	margin-right : 80px; 
	font-size    : 25px;
  font-weight  : 300;  
}

a{
  text-decoration: none;
}

ul, ol{
	text-align:left;
}

/*MODAL DE LOGIN*/

.modal{
	display  : none;
	position : fixed;
	z-index  : 100000;
	left     : 0px;
	top      : 0px;
	height   : 100%;
	width    : 100%;
	background-color : rgba(0, 0, 0, 0.5);       
}

.modal-content{
  background-color : #fafafa;
  margin           : 5% auto;
  padding          : 20px; 
  padding-bottom   : 30px; 
  width            : 30%;
  border-radius    : 10px; 
  box-shadow       : 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);    
  animation        : bounceInDown 0.5s; 
}

.modal-logo{
  position      : relative; 
  left          : 50%;
  transform     : translateX(-50%); 
  height        : 70px;
  width         : 250px;  
  margin-bottom : 45px;  
}

.modal-content p{
  text-align : center;
  font-size  : 12pt;  
}

.modal-content input{
  margin-left   : 20px; 
  margin-bottom : 30px; 
}

.btnModal{
  margin-left      : 31.5px;
  margin-top       : 0px; 
  font-family      : 'Raleway';
  font-size        : 14pt;
  color            : white;
  background-color : #1db954;
  height           : 40px;  
  width            : 87.5%;
  border           : none; 
  border-radius    : 5px;    
  box-shadow       : 2px 2px 5px rgba(0, 0, 0, 0.25);
  outline          : none;  
}

.btnModal:hover{
  transition       : 0.5s ease-in; 
  background-color : #1ed760;
  cursor           : pointer;  
}

.closeBtn{
	color        : #ccc;
  margin-right : 5px; 
	float        : right;
	font-size    : 30px;  
}

.closeBtn:hover{	
	transition       : 0.25s ease-in;
	filter           : brightness(80%); 
	text-decoration  : none; 
	cursor           : pointer;
}

.txtCampos{
	padding       : 10px;
	font-family   : 'Raleway';
	font-size     : 14pt;
	width         : 87.5%; 
	background    : none;
	border        : none; 
	border-bottom : 3px solid lightgray;  
	outline       : none;   
}

.txtCampos:focus, .txtCampos:valid{
	transition   : 0.25s ease-in; 
	border-color : #009c3b;
}

.campoSenha{
  position : relative; 
  font-size: 14pt;
}

.campoSenha i{
  position      : absolute;
  float         : right;
  top           : 20%;  
  right         : 5%; 
  color         : #2b2c33;   
}

.campoSenha i:hover{
  transition : 0.5s; 
  color      : #009c3b;
  cursor     : pointer;  
}

/*ALERTS*/

.alert{
  display          : none;
  position         : fixed;
  z-index          : 100000;
  left             : 0px;
  top              : 0px;
  height           : 100%;
  width            : 100%;
  background-color : rgba(0, 0, 0, 0.5);       
}

.alert-content{
  position         : relative;
  background-color : #fafafa;
  margin           : 5% auto; 
  padding-bottom   : 30px; 
  width            : 700px;
  border-radius    : 5px; 
  box-shadow       : 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);    
  overflow         : hidden;
  animation        : slideInDown 1s; 
}

.alert-content img{
  margin: 0;
}

.alert-content .alert-desc{
  margin: 0;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
} 

.alert-content .alert-desc h2{
  color: #2b2c33;
  text-align: left;
  margin: 30px;
}

.alert-content .alert-desc h3{
  font-size: 18pt;
  color: #2b2c33;
  text-align: left;
  margin: 30px;
}

.alert-content .alert-desc p{
  margin: 30px;
  font-size: 14pt;
}

.alert-content .alert-opcoes{
  border-top: 1px solid lightgray;
  position: relative;
  right: 0;
}

.alert-content .alert-opcoes button{
  position: relative;
  top: 15px;
  left: 565px;
  height: 40px;
  width: 110px;
  margin: 5px;
  font-family: 'Raleway';
  font-size: 12pt;
  border: none;
  background: none;
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
}

.alert-content .alert-opcoes button:hover{
  cursor: pointer;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
}

.alert-content .alert-opcoes button.green-button{
  background: #1db954;
  color: #fff;
}

/*CUSTOMIZAÇÃO DA SIDEBAR*/

#fundoSideBar{
  display  : none;
  position : fixed;
  z-index  : 100000;
  left     : 0px;
  top      : 0px;
  height   : 100%;
  width    : 100%;
  overflow : auto; 
  background-color : rgba(0, 0, 0, 0.5);   
}

#login{
  position         : fixed; 
  top              : 0px; 
  width            : 25%;
  background-color : #fff;
  color            : #2b2c33; 
  height           : 100%;
  left             : -30%;
  box-shadow       : 5px 0px 10px rgba(0, 0, 0, 0.4); 
  transition       : 0.5s;
  z-index          : 1000000;   
}

#login div.opcoesUser p{
  font-family    : 'Raleway';
  font-size      : 14pt;  
  position       : relative; 
  float          : left;  
  margin         : 0px;
  margin-top     : 5px; 
  padding-top    : 10px;
  padding-bottom : 10px;  
  width          : 100%; 
  user-select    : none;   
}

#login div.opcoesUser p i{
  color : #6f6f6f; 
}

#login div.opcoesUser p:hover{
  transition       : 0.5s ease-in; 
  background-color : #f2f2f2; 
  cursor           : pointer; 
}

.infoUser{
  height : 30%; 
}

#fundoUser{ 
  width           : 100%;
  height          : 100%;   
  position        : relative;
  top             : 0px;
  margin          : 0px;     
}

#imgUser{
  position      : relative;
  top           : -180px;
  margin        : 25px;   
  height        : 75px;
  width         : 75px; 
  border-radius : 100%; 
  cursor        : pointer;
  background-color: white;
}

div.infoUser p{
  position      : relative;
  top           : -195px;  
  margin        : 0px; 
  margin-bottom : 5px;
  margin-left   : 25px;  
  font-family   : 'Raleway';
  font-size     : 14pt;
  color         : #fff; 
  z-index       : 1000000; 
}

div.infoUser p:hover{
  transition    : 0.5s ease-in; 
  cursor        : pointer; 
  color         : #009c3b;
}

/*ÍCONES*/

.home{
  height : 20px;
  width  : 20px; 
}

.casinha{
  float       : left; 
  padding-top : 2px; 
}

.instagram{
    position        : absolute;
    top             : 25px;
    right           : 140px; 
    width           : 35px;
    height          : 35px;
    background      : url("../img/icones/instagram_normal.png") no-repeat;
    background-size : 35px 35px;
    float           : right;
}

.twitter{
  position        : absolute;
    top             : 25px;
    right           : 185px; 
    width           : 35px;
    height          : 35px;
    background      : url("../img/icones/twitter_normal.png") no-repeat;
    background-size : 35px 35px; 
    float           : right;  
}

.facebook{
  position        : absolute;
    top             : 25px;
    right           : 230px; 
    width           : 35px;
    height          : 35px;
    background      : url("../img/icones/facebook_normal.png") no-repeat;
    background-size : 35px 35px;
    float           : right;  
}

.brasil{
  position        : absolute;
    top             : 25px;
    right           : 275px; 
    width           : 35px;
    height          : 35px;
    background      : url("../img/icones/brasil_normal.png") no-repeat;
    background-size : 35px 35px;
    float           : right;
}

.brasil:hover{
  transition      : 0.5s ease-in; 
  background      : url("../img/icones/brasil_hover.png"); 
  background-size : 35px 35px;
  cursor          : pointer;
}

.facebook:hover{
  transition      : 0.5s ease-in; 
  background      : url("../img/icones/facebook_hover.png"); 
  background-size : 35px 35px; 
}

.twitter:hover{
  transition      : 0.5s ease-in; 
  background      : url("../img/icones/twitter_hover.png"); 
  background-size : 35px 35px; 
}

.instagram:hover{
  transition      : 0.5s ease-in; 
  background      : url("../img/icones/instagram_hover.png"); 
  background-size : 35px 35px; 
}

/*GRÁFICO VOTAÇÃO*/

.center-graphic{
  height: 400px;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  user-select: none;
}

.center-graphic h2{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  color: #2b2c33;
  text-transform: uppercase;
}

.center-graphic h3{
  margin: 15px;
  padding: 0;
  font-family: 'Raleway';
  font-size: 14pt;
  font-weight: normal;
  color: #2b2c33;
  position: relative;
  float: right;
}

.center-graphic .graphicBox{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 50px 0;
  display: flex; 
} 

.center-graphic .graphicBox img{
  height: 50px;
  width: 50px;
  border-left: 5px solid #1ed760;
  border-radius: 2px;
}

.center-graphic .graphicBox p{
  color: #2b2c33;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.center-graphic .graphicBox p:nth-child(3){
  position: absolute;
  top: -60%;
  right: 0;
}

.center-graphic .graphicBox .graphic{
  background: #fff;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #1ed760;
  border-radius: 2px;
  width: 100%;
  margin-left: 5px;
}

.center-graphic .graphicBox .graphic .progress{
  height: 40px;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}