body{
	margin: auto;
	max-width: 100%;
	font-family:'Raleway';
	background-color: #fff8dc; 
}

#menu{
	position: relative;
	z-index: 10000;
	width: 100%;
}

#menu ul{
	position         : fixed; 
	padding          : 0px;
	margin           : 0px;
	left             : 0px; 
	right            : 0px; 
	top              : 0px;
	background-color : #002776; 
	list-style       : none;
	font-size        : 16pt; 
	font-family      : 'Raleway';
}
#menu ul li { display : inline; }

#menu ul li a{
	padding          : 5px 10px; 
	display          : inline-block; 
	color            : white;
	text-decoration  : none; 
}
#menu .menu{
	text-align       : center;
	position         : fixed;
	top              : 80px; 
	background-color : #009c3b; 
	list-style       : none; 
	box-shadow       : 0px 5px 10px rgba(0, 0, 0, 0.4); 
}
#menu .menu li a{
	padding          : 5px 10px;
	padding-bottom   : 3px; 
	display          : inline-block; 
	color            : white;
	text-decoration  : none;
	border-bottom    : 3px solid #009c3b;    
}
#menu .menu li #abas{
	border-top       : 2px solid #009c3b;
	margin-right     : 10px;
	margin-left      : 10px;  
	 
}
#menu .menu li a:hover{
	transition-timing-function : ease-in;
	transition                 : 0.5s;
	background-color           : rgba(0, 0, 0, 0.3); 
	border-bottom              : 3px solid white;  
	background-size            : 30px 60px;
	cursor                     : pointer;
}
#menu .menu li #abas:hover{
	transition-timing-function : ease-in;
	transition                 : 0.5s; 
	border-top                 : 2px solid rgba(0, 0, 0, 0.1); 
	border-bottom              : 3px solid white;  
	background-size            : 30px 60px; 
	cursor                     : pointer;
}

.logo{
	height       : 85px;
	width        : 45px; 
	border-style : none;
	position     : absolute;  
	top          : 0px;
}

.logo-text{
	margin : 15px; 
	width  : 196px;
	height : 55px;  
}

.logo-text:hover{
	transition : 0.5s ease-in;
	transform  : scale(1.05);  
}

.home{
	height : 20px;
	width  : 20px; 
}
.casinha{
	float       : left; 
	padding-top : 2px; 
}

.footer{
   	position         : relative;
   	padding          : 0px;
   	margin           : 0px;  
   	left             : 0px;
   	right            : 0px;    
   	width            : 100%;
   	padding-top      : 25px;  
   	height           : 80px;
   	background-color : #2b2c33; 
   	text-align       : center;
   	font-family      : 'Raleway';
   	font-size        : 16px; 
   	color            : #FFFFFF; 
}

section#principal{
	margin: auto;
	width: 100%;
	background-color: #fff8dc;
	height: 100% - 80px;
	padding-top: 50px;
}

div#texto{
	width            : 100%;/*Mantem a proporção*/
	text-align       : justify; 
	padding-top      : 12pt;  
	padding-bottom   : 12pt; 
	/*margin:       auto;	*/
}

section#principal div#texto p.centro{
	text-align   : justify;
	margin-left  : 80px;
	margin-right : 80px; 	
}

h1{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	color: #002276;
	font-family: Candara;
}

h2{
	font-size: 30px;
	text-align: center;
	color: #002776;
	font-weight: bold;
}

h3{
	font-size: 25px;
	text-align: center;
}

p{
	text-align   : justify;
	margin-left  : 80px;
	margin-right : 80px; 
	font-size    : 25px;
}

ul, ol{
	text-align:left;
}

#txtBusca{
	position      : absolute;
	top           : 25px; 
	left          : 300px;  
	width         : 650px; 
	font-family   : 'Raleway'; 
	font-size     : 12pt;  
	padding       : 10px; 
	border        : 1px solid gray;
	border-radius : 5px; 
	outline       : none; 
}

#btnBusca{
	position                   : absolute;
	top                        : 25px; 
	left                       : 965px;  
	padding                    : 10px; 
	font-size                  : 12pt;
	height                     : 41px;
	width                      : 41px;  
	color                      : #fff8dc; 
	background-color           : #1db954;
	border                     : 1px solid gray; 
	border-top-right-radius    : 5px;
	border-bottom-right-radius : 5px; 
	outline                    : none;     
}

#btnBusca:hover{
	cursor           : pointer;
	transition       : 0.5s ease-in; 
	background-color : #1ed760;
}

#btnLogin{
	position         : absolute;
	top              : 22.5px;
	right            : 25px; 
	float            : right;  
	font-family      : 'Raleway';
	font-size        : 14pt;
	color            : white;
	background-color : #1db954;
	height           : 40px;  
	width            : 100px;
	border           : none; 
	border-radius    : 5px;    
	box-shadow       : 2px 2px 5px rgba(0, 0, 0, 1);
	outline          : none;  
}

#btnLogin:hover{
	transition       : 0.5s ease-in; 
	background-color : #1ed760;
	cursor           : pointer;  
}

.modal{
	display  : none;
	position : fixed;
	z-index  : 100000;
	left     : 0px;
	top      : 0px;
	height   : 100%;
	width    : 100%;
	overflow : auto;
	background-color : rgba(0, 0, 0, 0.5);       
}

.modal-content{
	background-color : #fafafa;
	margin           : 20% auto;
	padding          : 20px;
	width            : 70%;
	box-shadow       : 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);    
}

.closeBtn{
	color     : #fafafa;
	float     : right;
	font-size : 30px; 
}

.closeBtn:hover{
	color           : #000000;
	text-decoration : none; 
	cursor          : pointer; 
}

.instagram{
    position        : absolute;
    top             : 25px;
    right           : 140px; 
    width           : 35px;
    height          : 35px;
    background      : url("../img/icones/instagram_normal.png") no-repeat;
    background-size : 35px 35px;
    float           : right;
}

.twitter{
	position        : absolute;
    top             : 25px;
    right           : 185px; 
    width           : 35px;
    height          : 35px;
    background      : url("../img/icones/twitter_normal.png") no-repeat;
    background-size : 35px 35px; 
    float           : right;	
}

.facebook{
	position        : absolute;
    top             : 25px;
    right           : 230px; 
    width           : 35px;
    height          : 35px;
    background      : url("../img/icones/facebook_normal.png") no-repeat;
    background-size : 35px 35px;
    float           : right; 	
}

.brasil{
	position        : absolute;
    top             : 25px;
    right           : 275px; 
    width           : 35px;
    height          : 35px;
    background      : url("../img/icones/brasil_normal.png") no-repeat;
    background-size : 35px 35px;
    float           : right;
}

.brasil:hover{
	transition      : 0.5s ease-in; 
	background      : url("../img/icones/brasil_hover.png"); 
	background-size : 35px 35px;
	cursor          : pointer;
}

.facebook:hover{
	transition      : 0.5s ease-in; 
	background      : url("../img/icones/facebook_hover.png"); 
	background-size : 35px 35px; 
}

.twitter:hover{
	transition      : 0.5s ease-in; 
	background      : url("../img/icones/twitter_hover.png"); 
	background-size : 35px 35px; 
}

.instagram:hover{
	transition      : 0.5s ease-in; 
	background      : url("../img/icones/instagram_hover.png"); 
	background-size : 35px 35px; 
}