section#principal .governantes{
	margin: auto;
	font-size: 20px;
	border-collapse: collapse;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

section#principal .governantes img.govern:hover{
	cursor:pointer;
}

section#principal .governantes td{
	border: 1px solid rgba(0, 0, 0, 0.15);
	text-align: center;
	padding: 30px;
}

section#principal .governantes td.cabecalho{
	padding: 10px;
}

section#principal .governantes tr.cabecalho-tabela{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: black; 
	font-size: 18pt;
}

section#principal .governantes td img{
	border-radius : 5px; 
	width         : 200px;
	height        : 250px;  
}

section#principal .governantes td img:hover{
	transition : 0.5s ease-in;
	filter     : brightness(75%);    
}

section#principal .governantes tr.imperio
{
	background: #fed330;
}

section#principal .governantes tr.r_velha
{
	background: #45aaf2;
	color: #fff;
}

section#principal .governantes tr.era_vargas
{
	background: #fd9644;
	color: #fff;
}

section#principal .governantes tr.r_popul
{
	background: #20bf6b;
	color: #fff;
}

section#principal .governantes tr.r_militar
{
	background: #e74c3c;
	color: #fff;
}

section#principal .governantes tr.r_nova
{
	background: #d1d8e0;
}


section#principal .governantes_leg{
	margin: auto;
	font-size: 20px;
	border-collapse: collapse;
}

section#principal .governantes_leg td#leg{
	border-radius : 5px; 
	width   : 15px;
	height  : 15px; 
	padding : 7.5px;  
}

section#principal .governantes_leg td.leg_imperio{
	background : #fed330;
	cursor     : pointer; 
}

section#principal .governantes_leg td.leg_rvelha{
	background : #45aaf2;
	cursor     : pointer; 
}

section#principal .governantes_leg td.leg_vargas{
	background : #fd9644;
	cursor     : pointer; 
}

section#principal .governantes_leg td.leg_popul{
	background : #20bf6b;
	cursor     : pointer; 
}

section#principal .governantes_leg td.leg_militar{
	background : #e74c3c;
	cursor     : pointer; 
}

section#principal .governantes_leg td.leg_nova{
	background : #d1d8e0;
	cursor     : pointer; 
}

section#principal .governantes_leg td#leg:hover{
	transition : 0.5s ease-in;  
	filter     : brightness(90%); 
}
