section#principal div#texto a{
	text-decoration : none; 
	color           : #2bcaf2;
}

section#principal div#texto a:hover{
	transition       : 0.5s ease-in;  
	background-color : rgba(43, 202, 242, 0.25);
	text-decoration  : underline;  
}