/*PÁGINA DE INÍCIO*/

h2#curiosidade:hover{
  cursor: pointer;
}

section#principal{
  margin-top: 0px;
}

.welcome-thumbnail{
  position: relative;
  top: -100px;
  height: 100%;
  width: 100%;
  background-image: url(../img/fundoUsers/1.png);
  background-size: 100%;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  padding-top: 20%;
  padding-bottom: 20%;
}

.welcome-thumbnail h1,
.historia-thumbnail h1,
.mapa-thumbnail h1,
.governantes-thumbnail h1,
.noticias-thumbnail h1, 
.eleicoes-thumbnail h1,
.quiz-thumbnail h1{
  font-family: 'FlowerPower';
  font-size: 72pt;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.85);
}

.welcome-thumbnail h2{
  position: relative;
  top: -85px;
  font-family: 'FlowerPower';
  font-size: 32pt;
  font-weight: normal;
  color: #009c3b;  
}

.textos{
  padding-bottom : 10%; 
}

.descricao{
  padding-top    : 5%; 
  padding-bottom : 5%; 
}

#principal{
  background-color: white;
  color: #2b2c33;
}

.historia-thumbnail{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../img/fotos/historia.jpg);
  background-size: 100%;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-bottom: 15%;
}

.mapa-thumbnail{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../img/fotos/mapa.jpg);
  background-size: 100%;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-bottom: 15%;
}

.governantes-thumbnail{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../img/fotos/governantes.jpg);
  background-size: 100%;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-bottom: 15%;
}

.noticias-thumbnail{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../img/34191275170102.jpg);
  background-size: 100%;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-bottom: 15%;
}

.eleicoes-thumbnail{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../img/fotos/eleicoes.jpg);
  background-size: 100%;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-bottom: 15%;
}

.quiz-thumbnail{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../img/fotos/quiz.jpg);
  background-size: 100%;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-bottom: 15%;
}

.historia-thumbnail h1,
.mapa-thumbnail h1,
.governantes-thumbnail h1,
.noticias-thumbnail h1,
.eleicoes-thumbnail h1,
.quiz-thumbnail h1{
  width      : 97.5%;
  text-align : center; 
}

.historia-thumbnail h1:hover,
.mapa-thumbnail h1:hover,
.governantes-thumbnail h1:hover,
.noticias-thumbnail h1:hover,
.eleicoes-thumbnail h1:hover,
.quiz-thumbnail h1:hover{
  transition       : 0.5s ease-in;
  transform        : scale(1.05);      
  cursor           : pointer; 
}