section#principal div#map{
	position: relative;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	width:80%;
	height:500px;
	margin: auto;
	z-index: 1;
}

section#principal select{
	font-family   : 'Raleway';
	font-size     : 16pt;
	width         : 35%;
	display       : block;
	margin        : 0 auto;
	padding       : 5px; 
	background    : none;
	border        : none;
	border-bottom : 3px solid lightgray;  
	outline       : none; 
	cursor        : pointer; 
	transition    : 0.5s; 
}

section#principal select:focus{	
	border-color : #009c3b; 
}

#modalAlert .alert-content .alert-desc img{
	margin-left: 30px;
	height: 400px;
	width: 400px;
}