section#principal ol li{
	margin-left: 10px;
}

#quiz{
	position   : relative; 
	width      : 50%;
	text-align : center;
	left       : 28.5%; 
}

.titulo{
	font-family    : 'Raleway';
	font-size      : 20pt;
	padding-bottom : 14pt;   
}

.perguntas{
	width         : 89%; 
	margin-bottom : 8pt;
	margin-left   : 0px;
	text-align    : justify;
}

.campo{
	font-family      : 'Raleway';
	font-size        : 14pt; 
	background       : none;
	padding          : 10px; 
	width            : 85%;
	border           : none; 
	border-bottom    : 3px solid lightgray;  
	outline          : 0px; 
	margin-bottom    : 50px;
	margin-left      : -70px;
}

.campo:focus{
	transition   : 0.5s ease-in;
	border-color : #009c3b; 
}

#resposta{
	color: red;
}

#result{
	height : 25px;
	width  : 25px; 
}

.botao{
	font-family      : 'Raleway';
	font-size        : 14pt;  
	padding          : 10px;
	width            : 575px;
	margin-left      : -70px;
	border-radius    : 25px;
	border           : none;
	background-color : #1db954;
	color            : white;
	outline          : none;
}

.botao:hover{
	transition       : 0.5s ease-in; 
	background-color : #1ed760;   
	cursor           : pointer; 
}

#login{
	position         : fixed; 
	top              : 0px; 
	width            : 25%;
	background-color : #1db954; 
	color            : white; 
	height           : 100%;
	left             : -30%;
	box-shadow       : 5px 0px 10px rgba(0, 0, 0, 0.4); 
	transition       : 0.5s;
	z-index          : 1000000;   
}

.closeSB{
	position  : relative; 
	font-size : 20pt;
	color     : #009c3b; 
	float     : right;
	margin    : 20px;  
	filter    : brightness(80%); 
	z-index   : 1000; 
}

.closeSB:hover{
	transition : 0.5s ease-in; 
	cursor     : pointer;
	filter     : brightness(60%);  
}

#user{ 
	width           : 100%;
	position        : absolute;   
}

#user:hover{
	transition : 0.5s ease-in; 
	filter     : brightness(75%); 
	cursor     : pointer; 
}

#nomeUser{
	position : absolute; 
	top      : 315px; 
	left     : -15px;
}

#senhaUser{
	position : absolute; 
	top      : 350px; 
	left     : -15px;
}

#nomeUser:hover{
	transition      : 0.5s ease-in;
	filter          : brightness(85%); 
	text-decoration : underline;   
	cursor          : pointer; 
}