section#principal ol li{
	margin-left: 10px;
}

#texto{
	position    : relative;
	top         : 125px;  
	text-align  : justify;
	font-family : 'Raleway';
	font-size   : 14pt; 
	color       : black; 
	width       : 40%;   
	z-index     : -100; 
}

#quiz{
	margin-left : 50px; 
}

.titulo{
	font-family    : 'Raleway';
	font-size      : 20pt;
	padding-bottom : 14pt;   
}

.perguntas{
	margin-bottom : 8pt;
	margin-left   : 0px;   
}

.campo{
	font-family    : 'Raleway';
	font-size      : 14pt; 
	padding        : 10px; 
	width          : 525px;
	border-radius  : 25px; 
	border         : 1px solid gray;  
	outline        : 0px; 
}

#resposta{
	color: red;
}

#result{
	height : 25px;
	width  : 25px; 
}

#submit{
	font-size        : 16pt; 
	font-family      : 'Raleway'; 
	color            : white; 
	background-color : #2b2c33;
	width            : 525px;
	height           : 40pt; 
	border-style     : none;
	border-radius    : 45px;   
}

#submit:hover{
	transition-timing-function : ease-in;
	transition                 : 0.5s;
	transform                  : scale(1.025);    
}