section#principal ol li{
	margin-left: 10px;
}

#texto{
	position    : relative;
	top         : 125px;  
	text-align  : center;
	font-family : 'Raleway';
	font-size   : 14pt; 
	color       : black; 
	width       : 40%;   
	z-index     : -100; 
}

#quiz{
	position   : relative; 
	width      : 50%;
	text-align : center;
	left       : 500px; 
}

.titulo{
	font-family    : 'Raleway';
	font-size      : 20pt;
	padding-bottom : 14pt;   
}

.perguntas{
	width         : 85%; 
	margin-bottom : 8pt;
	margin-left   : 0px;
	text-align    : center;
}

.campo{
	font-family      : 'Raleway';
	font-size        : 14pt; 
	background       : none;
	padding          : 10px; 
	width            : 85%;
	border           : none; 
	border-bottom    : 3px solid lightgray;  
	outline          : 0px; 
	margin-bottom    : 50px;
	margin-left      : -70px;
}

.campo:focus{
	transition   : 0.5s ease-in;
	border-color : #009c3b; 
}

#resposta{
	color: red;
}

#result{
	height : 25px;
	width  : 25px; 
}

.botao{
	font-family      : 'Raleway';
	font-size        : 14pt;  
	padding          : 10px;
	width            : 575px;
	margin-left      : -70px;
	border-radius    : 25px;
	border           : none;
	background-color : #1db954;
	color            : white;
	outline          : none;
}

.botao:hover{
	transition       : 0.5s ease-in; 
	background-color : #1ed760;   
	cursor           : pointer; 
}

#login{
	position         : fixed; 
	width            : 325px;
	background-color : #1db954; 
	color            : white; 
	height           : 100%;
	box-shadow       : 5px 0px 10px rgba(0, 0, 0, 0.4);  
}

#user{
	width         : 250px;
	height        : 250px;
	border-radius : 1000px;
	position      : absolute;
	left          : 30px;  
	top           : 50px;
	box-shadow    : 5px 5px 10px rgba(0, 0, 0, 0.4); 
}

#user:hover{
	transition : 0.5s ease-in; 
	filter     : brightness(75%); 
	cursor     : pointer; 
}

#nomeUser{
	position : absolute; 
	top      : 315px; 
	left     : -15px;
}

#senhaUser{
	position : absolute; 
	top      : 350px; 
	left     : -15px;
}

#nomeUser:hover{
	transition      : 0.5s ease-in;
	filter          : brightness(85%); 
	text-decoration : underline;   
	cursor          : pointer; 
}