body{
	margin: auto;
	max-width: 100%;	
}

nav#menuPrincipal{
	height:60px;
	width: 100% - 30px;
	background:#00cc00;
	padding:10px;
	margin: auto;
}

nav#menuPrincipal ul li{
	display: inline;
	margin-left: 30px;
}

nav#menuPrincipal ul li .logo{
	background: url(./Imagens/logo.jpg) no-repeat;
	float: left;
	width: 88px;
	height: 50px;
	position: relative;
	top: -10px;
}
nav#menuPrincipal ul li .logo:hover{
	transform: scale(1.2,1.2);
}


nav#menuPrincipal ul li a 
{
	text-align: center;
	font-family: tahoma;
	padding: 2px 10px;
	display: inline-block;
 	font-size: 30px;
	background-color:#ffff00;
	color: #0000ff;
	text-decoration: none;
	border-bottom:3px solid #ffffff;
	border-radius: 20px;
}

nav#menuPrincipal ul li a:hover
{
	color: #ffff00;
	background-color: #0000ff;
}

section#principal{
	margin: auto;
	width: 100%;
	background: #1E90FF;
	height: 100%;
}

section#principal p.centro{
	text-align: center;
	margin-left: 0px;
}

section#principal div#map{
	width:1000px;
	height:400px;
	margin: auto;
}

section#principal select{
	font-size: 20px;
	width:200px;
	margin-left: 650px;
}

section#principal .governantes{
	margin: auto;
	border: 1px solid black;
	font-size: 20px;
	background: #ccccff;
	border-collapse: collapse;
}

section#principal .governantes td{
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}

section#principal .governantes td.cabecalho{
	font-weight: bold;
	background-color: white;
	color: black;
}

img{
	border: solid 1px black;
}

section#principal .governantes tr.imperio
{
	background: #F0E68C;
}

section#principal .governantes tr.r_velha
{
	background: #ccccff;
}

section#principal .governantes tr.era_vargas
{
	background: #FFA500
}

section#principal .governantes tr.r_popul
{
	background: #8FBC8F
}

section#principal .governantes tr.r_militar
{
	background: #A0522D
}

section#principal .governantes tr.r_nova
{
	background: #D3D3D3
}


section#principal .governantes_leg{
	margin: auto;
	border: 1px solid black;
	font-size: 20px;
	border-collapse: collapse;
	background: white;
}
section#principal .governantes_leg td{
	border: 1px solid black;
	width: 50px;
}

section#principal .governantes_leg td.leg_imperio{
background: #F0E68C;
}
section#principal .governantes_leg td.leg_rvelha{
background: #ccccff;
}
section#principal .governantes_leg td.leg_vargas{
background: #FFA500
}
section#principal .governantes_leg td.leg_popul{
background: #8FBC8F
}
section#principal .governantes_leg td.leg_militar{
background: #A0522D
}
section#principal .governantes_leg td.leg_nova{
background: #D3D3D3
}

h1{
	font-size: 35px;
	text-align: center;
}

h2{
	font-size: 30px;
	text-align: center;
}

h3{
	font-size: 25px;
	text-align: center;
}

p{
	text-align: left;
	margin-left: 30px;
	font-size: 25px;
}
ul, ol{
	text-align:left;
}

section#principal.quiz{
	height: 130%;
}

section#principal div#e{
	text-align: left;
	float:left;
}

section#principal .re{
	margin-left: 100px;
}

section#principal div#d{
	text-align: center;
	margin-left: 300px;
	float:center;
}