body{
	margin: auto;
	max-width: 100%;
	font-family: Century Gothic;
}
hr.faixaAzul{
	background: #0000ff;
	margin: 0px;
	height: 5px;
}

#menu ul{
	position         : fixed; 
	padding          : 0px;
	margin           : 0px;
	left             : 0px; 
	right            : 0px; 
	top              : 0px;
	background-color : #002776; 
	list-style       : none;
	font-size        : 16pt; 
	font-family      : 'Raleway';
}
#menu ul li { display : inline; }

#menu ul li a{
	padding          : 5px 10px; 
	display          : inline-block; 
	color            : white;
	text-decoration  : none; 
}
#menu .menu{
	text-align       : center;
	position         : fixed;
	top              : 80px; 
	background-color : #009c3b; 
	list-style       : none; 
	box-shadow       : 0px 5px 10px rgba(0, 0, 0, 0.4); 
}
#menu .menu li a{
	padding          : 5px 10px;
	padding-bottom   : 3px; 
	display          : inline-block; 
	color            : white;
	text-decoration  : none;
	border-bottom    : 3px solid #009c3b;    
}
#menu .menu li #abas{
	border-top       : 2px solid #009c3b;
	margin-right     : 10px;
	margin-left      : 10px;  
	cursor           : pointer; 
}
#menu .menu li a:hover{
	transition-timing-function : ease-in;
	transition                 : 0.5s;
	background-color           : rgba(0, 0, 0, 0.3); 
	border-bottom              : 3px solid white;  
	background-size            : 30px 60px; 
}
#menu .menu li #abas:hover{
	transition-timing-function : ease-in;
	transition                 : 0.5s; 
	border-top                 : 2px solid rgba(0, 0, 0, 0.1); 
	border-bottom              : 3px solid white;  
	background-size            : 30px 60px; 
}

.logo{
	height : 70px;
	width  : 120px; 
	border-style: none; 
}
.home{
	height : 20px;
	width  : 20px;  
}

.footer{
   	position         : relative;
   	padding          : 0px;
   	margin           : 0px;  
   	left             : 0px;
   	right            : 0px;    
   	width            : 100%;
   	padding-top      : 25px;  
   	height           : 80px;
   	background-color : #2b2c33; 
   	text-align       : center;
   	font-family      : 'Raleway';
   	font-size        : 16px; 
   	color            : #FFFFFF; 
}

section#principal{
	margin: auto;
	width: 100%;
	background: #1e21ff;
	height: 100%;
	margin-top: 50px;
}

div#branquinho{
	background-color : white;
	background-size  : contain;
	border-radius    : 150px;
	width            : 1300px;
	margin:       auto;
	padding: 30px;
}

section#principal p.centro{
	text-align: center;
	margin-left: 0px;	
}

section#principal div#map{
	width:1000px;
	height:400px;
	margin: auto;
}

section#principal select{
	font-size: 20px;
	width:200px;
	margin-left: 650px;
}

section#principal .governantes{
	margin: auto;
	border: 1px solid black;
	font-size: 20px;
	background: #ccccff;
	border-collapse: collapse;
}

section#principal .governantes img.govern:hover{
	cursor:pointer;
}

section#principal .governantes td{
	padding: 30px;
	border: 1px solid black;
	text-align: center;
}

section#principal .governantes td.cabecalho{
	font-weight: bold;
	background-color: white;
	color: black;
}

section#principal .governantes td img{
	border: solid 1px black;
}

section#principal .governantes tr.imperio
{
	background: #F0E68C;
}

section#principal .governantes tr.r_velha
{
	background: #ccccff;
}

section#principal .governantes tr.era_vargas
{
	background: #FFA500
}

section#principal .governantes tr.r_popul
{
	background: #8FBC8F
}

section#principal .governantes tr.r_militar
{
	background: #A0522D
}

section#principal .governantes tr.r_nova
{
	background: #D3D3D3
}


section#principal .governantes_leg{
	margin: auto;
	border: 1px solid black;
	font-size: 20px;
	border-collapse: collapse;
	background: white;
}
section#principal .governantes_leg td{
	border: 1px solid black;
	width: 50px;
}

section#principal .governantes_leg td.leg_imperio{
background: #F0E68C;
}
section#principal .governantes_leg td.leg_rvelha{
background: #ccccff;
}
section#principal .governantes_leg td.leg_vargas{
background: #FFA500
}
section#principal .governantes_leg td.leg_popul{
background: #8FBC8F
}
section#principal .governantes_leg td.leg_militar{
background: #A0522D
}
section#principal .governantes_leg td.leg_nova{
background: #D3D3D3
}

h1{
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	color: #ffff00;
	font-family: Candara;
}

h2{
	font-size: 30px;
	text-align: center;
}

h3{
	font-size: 25px;
	text-align: center;
}

p{
	text-align: left;
	margin-left: 30px;
	font-size: 25px;
}
ul, ol{
	text-align:left;
}

section#principal.quiz{
	height: 150%;
}

section#principal .re{
	margin-left: 100px;
}

section#principal aside#respondido{
	margin-left: 10px;
}

section#principal article#certo{
	position: absolute;
	top: 80px;
	left: 400px;
	/*z-index: -10000;*/
}

section#principal ol li{
	margin-left: 10px;
}