#menu ul{
	position         : fixed; 
	padding          : 0px;
	margin           : 0px;
	left             : 0px; 
	right            : 0px; 
	top              : 0px;
	background-color : #002776; 
	list-style       : none;
	font-size        : 16pt; 
	font-family      : 'Raleway';
}
#menu ul li { display : inline; }

#menu ul li a{
	padding          : 5px 10px; 
	display          : inline-block; 
	color            : white;
	text-decoration  : none; 
}
#menu .menu{
	text-align       : center;
	position         : fixed;
	top              : 80px; 
	background-color : #009c3b; 
	list-style       : none; 
	box-shadow       : 0px 5px 10px rgba(0, 0, 0, 0.4); 
}
#menu .menu li a{
	padding          : 5px 10px;
	padding-bottom   : 3px; 
	display          : inline-block; 
	color            : white;
	text-decoration  : none;
	border-bottom    : 3px solid #009c3b;    
}
#menu .menu li #abas{
	border-top       : 2px solid #009c3b;
	margin-right     : 10px;
	margin-left      : 10px;  
}
#menu .menu li a:hover{
	transition-timing-function : ease-in;
	transition                 : 0.5s;
	background-color           : rgba(0, 0, 0, 0.3); 
	border-bottom              : 3px solid white;  
	background-size            : 30px 60px; 
}
#menu .menu li #abas:hover{
	transition-timing-function : ease-in;
	transition                 : 0.5s; 
	border-top                 : 2px solid rgba(0, 0, 0, 0.1); 
	border-bottom              : 3px solid white;  
	background-size            : 30px 60px; 
}
.logo{
	height : 70px;
	width  : 120px;  
}
.home{
	height : 20px;
	width  : 20px;  
}
.footer{
   	position         : absolute;
   	padding          : 0px;
   	margin           : 0px;  
   	left             : 0px;
   	right            : 0px;    
   	width            : 100%;
   	padding-top      : 25px;  
   	height           : 80px;
   	background-color : #2b2c33; 
   	text-align       : center;
   	font-family      : 'Raleway';
   	font-size        : 16px; 
   	color            : #FFFFFF; 
}