#texto{
	position    : relative;
	top         : 200px;  
	text-align  : justify;
	font-family : 'Raleway';
	font-size   : 14pt; 
	color       : black; 
	width       : 60%;   
	z-index     : -100; 
}

.titulo{
	font-family    : 'Raleway';
	font-size      : 20pt;
	padding-bottom : 14pt;   
}